<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">RTSP Stream URL</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.rtsp.rtsp_url" placeholder="rtsp://username:password@ip:port/stream">
            <span class="help-block">Enter the full RTSP URL of your camera.</span>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label">Orientation</label>
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.rtsp.flip_h"> Flip Horizontal
            </label>
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.rtsp.flip_v"> Flip Vertical
            </label>
             <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.rtsp.rotate_90"> Rotate 90° Clockwise
            </label>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Stream Output URL</label>
        <div class="controls">
            <!-- This shows the user what URL to put into OctoPrint's Webcam settings -->
            <pre data-bind="text: streamUrl"></pre>
            <span class="help-block">Copy this URL into <strong>Settings > Webcam & Timelapse > Stream URL</strong></span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Snapshot Output URL</label>
        <div class="controls">
            <!-- This shows the user what URL to put into OctoPrint's Webcam settings -->
            <pre data-bind="text: snapshotUrl"></pre>
            <span class="help-block">Copy this URL into <strong>Settings > Webcam & Timelapse > Snapshot URL</strong></span>
        </div>
    </div>
</form>
